# 特定のファイルを無視する場合は先頭に/を付ける
/npm-debug.log

# macOSの自動生成ファイルを無視する
.DS_Store

# すべてのvenvフォルダを無視する。
**/venv/

# 環境変数ファイルを無視する
.env

# ログを無視する
**/chat[-_]log[-_]*.txt


# pytestのキャッシュを無視する
**/__pycache__/
**/.coverage
**/.pytest_cache/

# ビルド成果物や実行ファイルを除外
python/chat-cli/dist(exe)/chat_with_llm.exe

# terraformの状態ファイルを無視する
**/.terraform