name: Markdown Lint
on:
  pull_request:
    paths:
      - 'doc/**'
  workflow_dispatch:

jobs:
    markdownlint:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout code
          uses: actions/checkout@v2
    
        - name: Install Node.js
          uses: actions/setup-node@v3
          with:
            node-version: '20'
        
        - name: Install markdownlint-cli
          run: npm install -g markdownlint-cli
        
        - name: Run markdownlint
          run: markdownlint "**/*.md" --disable MD013