name: Python Tests
on:
  pull_request:
    paths:
      - 'python/movie-review-analysis/**'

jobs:
    pytest:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout code
          uses: actions/checkout@v2
    
        - name: Set up Python
          uses: actions/setup-python@v2
          with:
            python-version: '3.13'
    
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r python/movie-review-analysis/requirements.txt
    
        - name: Run tests
          run: |
            pip install pytest pytest-cov
            cd python/movie-review-analysis
            pytest --cov=. --cov-report=xml

        - name: Check coverage
          run: |
            cd python/movie-review-analysis
            coverage xml -i --rcfile=.coveragerc
            coverage report --fail-under=50